{block content}
    {if $user->loggedIn}
        {control addPostForm}
    {/if}
    {snippet posts}
        {foreach $posts as $post}
            {control postsContainer-$post->id}
        {/foreach}
    {/snippet}
{/block}
