
{block content}

{snippet posts}
    <h1>Přehled článků</h1>

    {foreach $posts as $post}

        <h2>{$post->title}</h2>
        <p>
            {$post->content|truncate:400}
            <a n:href="detail, $post->id">zobrazit celý článek</a>
        </p>
        {control commentsContainer-$post->id}

    {/foreach}
{/snippet}

{/block}